// List 

.list {
	margin-bottom: 30px;

	&-feature {
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			line-height: 3.6em;
			@include add-border(1px, #cccccc, bottom);

			&:last-child {
				border: none;
			}
		}

		span {
			vertical-align: top;
			padding-top: 12px;
			font-size: 120%;
		}

		i {
			margin-top: -9px;
			margin-right: 5px;
		}
	}
}

.list-comments {
	margin: 0;
	padding: 0;

	li {
		padding: 12px 0 5px 0;
		@include add-border(1px, #cccccc, bottom);
		min-height: 120px;
	}

	li:last-child {
		border: none;
	}

	img {
		width: 100px;
		margin-right: 10px;
	}
}

.fa-2 {
	font-size: 18px;
}

.fa-3 {
	font-size: 24px;
}

.fa-4 {
	font-size: 27px;
}

.fa-5 {
	font-size: 35px;
}

.fa-6 {
	font-size: 40px;
}

.fa-primary {
	color: $primary-color;
}

.fa-border {
	@include add-border(1px, $primary-color, all);
	@include border-radius(5px);
	padding: 13px 0;
	width: 70px;
	margin-bottom: 14px;
}

// Headings

.header-primary {
  color: $primary-color;
}

.header-primary-a {
	@extend .header-primary;
  	@include add-border(2px, $primary-color, bottom);
}

.header-secondary {
	color: $secondary-color;
}

.header-secondary-a {
  @extend .header-secondary;
  @include add-border(2px, $secondary-color, bottom);
}

.header-light {
	color: $light-color;
}

.header-light-a {
  @extend .header-light;
  @include add-border(2px, $light-color, bottom);
}

.header-dark {
	color: $dark-color;
}

.header-dark-a {
  @extend .header-dark;
  @include add-border(2px, $dark-color, bottom);
}

//Emphasis Text

.em-primary {
  color: $primary-color;
}

.em-secondary {
  color: $secondary-color;
}

.em-light {
  color: $light-color;
}

.em-dark {
  color: $dark-color;
}
